# Retrieval of Macroeconomic Predictors from the World Bank

In [1]:
import wbgapi as wb
import pandas as pd

In [2]:
indicators = wb.series.info(q='gdp growth')
indicators

id                 value
-----------------  ---------------------
NY.GDP.MKTP.KD.ZG  GDP growth (annual %)
                   1 elements

In [5]:

# gdp growth rate
gdp = wb.data.DataFrame('NY.GDP.MKTP.KD.ZG', time=range(2007, 2021), labels=True).reset_index()
gdp = gdp.melt(id_vars=['economy', 'Country'], var_name='Year', value_name='GDP_growth_rate')
gdp.insert(3, "temp", gdp["Year"].str[2:])
gdp = gdp.drop(columns=['Year'])
gdp = gdp.rename(columns={'temp': 'Year'})
gdp = gdp.astype({'Year': 'int64'})
gdp = gdp.sort_values(['economy', 'Year'])
gdp = gdp.dropna()
print(gdp.shape)
print(gdp.info())

(3578, 4)
<class 'pandas.core.frame.DataFrame'>
Index: 3578 entries, 207 to 3458
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   economy          3578 non-null   object
 1   Country          3578 non-null   object
 2   Year             3578 non-null   int64
 3   GDP_growth_rate  3578 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 139.8+ KB
None

In [6]:
gdp.head()

     economy Country  Year  GDP_growth_rate
207      ABW   Aruba  2007         3.089544
473      ABW   Aruba  2008         1.835756
739      ABW   Aruba  2009       -11.677742
1005     ABW   Aruba  2010        -2.733456
1271     ABW   Aruba  2011         3.369238

In [8]:
indicators_2 = wb.series.info(q='volatility')
print(indicators_2)